<section class="home">
  <div class="home__heading">
    dare to roam,<br />
    your not alone.
  </div>
  <div class="__container">
    <div class="home__switch">
      <button (click)="switchToExperience()" class="home__switch__button">
        <img src="../../assets/icons/refresh.svg" />
        switch to experience
      </button>
    </div>
    <div class="home__data">
      <div class="home__data__menu">
        <app-menu></app-menu>
      </div>
      <div class="home__data__carousel">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
</section>
